:root {
    --text-color: #F2F2F2;
    --light-green:#027333;
    --dark-green:#025928;
    --dark-blue:#1D1B59;
    --light-blue:#221F73;
    --bg-color: #090f1b; /* we can use this better than #000000 */
}
*{
    text-align: left !important;
}
.navbar-toggler:focus ,.btn-close:focus{
    outline: 0 !important;
    box-shadow: none !important;
}
.nav-link:hover{
    font-weight: 650;
}
.nav-link{
    position: relative;
}
@media screen and (max-width: 991px){    
        .nav-link{width: 5ch;}
        #achievmentsNav{width: 11ch !important;}
}
.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 100%;
    height: 2px;
    background-color: var(--light-blue);
    visibility: hidden;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transform-origin: left;
}

.nav-link:hover::before {
    width: 100%;
    transform: translateX(-50%) scaleX(1);
    visibility: visible;
    background-color: var(--light-green);
}

    /* ?????? */
    .nav-link:active::before{
        width: 100% !important;    
        visibility: visible !important;
        background-color: var(--light-green);
    }

.nav-link{
    color: var(--light-blue) !important;
}
.nav-item{
    font-weight: 600;
    font-size: 1.3rem;
    
}
.button-1{
    border-color: var(--dark-blue);
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5),
                -2px -2px 4px rgba(0,0,0,0.5);
}


#preloader{
    display: flex;
    z-index:1000000;
    margin-top: -48px;
    transform: scale(1.75);
}
.loader16{width:50px;height:50px;margin:30px auto 40px;position:relative}
.loader16:after,.loader16:before{content:"";width:50px;position:absolute;left:0}
.loader16:before{height:5px;border-radius:50%;background:#000;opacity:.1;top:59px;animation:shadow .5s linear infinite}
.loader16:after{height:50px;border-radius:3px;background:#008bba;top:0;animation:loading .5s linear infinite}
@-webkit-keyframes loading{
	17%{border-bottom-right-radius:3px}
	25%{transform:translateY(9px) rotate(22.5deg)}
	50%{transform:translateY(18px) scale(1,.9) rotate(45deg);border-bottom-right-radius:40px}
	75%{transform:translateY(9px) rotate(67.5deg)}
	100%{transform:translateY(0) rotate(90deg)}
}
@keyframes loading{
	17%{border-bottom-right-radius:3px}
	25%{transform:translateY(9px) rotate(22.5deg)}
	50%{transform:translateY(18px) scale(1,.9) rotate(45deg);border-bottom-right-radius:40px}
	75%{transform:translateY(9px) rotate(67.5deg)}
	100%{transform:translateY(0) rotate(90deg)}
}
@-webkit-keyframes shadow{
	0%,100%{transform:scale(1,1)}
	50%{transform:scale(1.2,1)}
}
@keyframes shadow{
	0%,100%{transform:scale(1,1)}
	50%{transform:scale(1.2,1)}

}
.bigIcon {
    font-size: 4em;
}
.achievementleft{
    margin-top: 50px !important;
}